<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Janice Jiang</h1>
    <p>I'm learning Ruby on Rails.</p>
    <p>I make this blog refer to <a href="https://www.youtube.com/watch?v=BI_VnnOLSKY&list=PLClJn5amguloTc1twPtHWLsKAgwuQG3sr">Mackenzie Child's</a> tutorial.</p>
    <p>游꼴 游꼴 游꼴</p>
    <p>游꼴 游꼴 游꼴</p>
  </div>
</div>
